* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
nav {
  background-color: #f5f2ee;
  color: #eee;
  display: flex;
  height: 9vh;
  align-items: center;
  position: relative;
  overflow: visible;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav a.nav-title {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  position: relative;
  color: orange;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #111;
  height: calc(100% + 20px);
  border-radius: 0 5px 5px 0;
  transition: padding ease 0.5s;
  z-index: 3;
}
nav a.nav-title:hover {
  padding: 0 60px 0 30px;
}
.nav-title p {
  display: inherit;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav-title img {
  position: relative;
  width: 50px;
  display: flex;
  margin: 0 5px;
  animation: sine 5s ease;
  animation-iteration-count: infinite;
}
@keyframes sine {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}
nav ul {
  display: inherit;
  list-style-type: none;
  height: 100%;
  width: 100%;
  background-color: #f5f2ee;
  overflow: hidden;
  margin-left: 20px;
}
nav ul li {
  display: inherit;
  height: 100%;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #493e2b;
  transition: background-color, padding 0.2s ease;
}
nav ul li a:hover {
  background-color: #ffffff;
  padding: 0 40px;
  text-shadow: 0 0 2px rgba(33, 33, 33, 0.2);
}
.jumbotron {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #f5f2ee;
  padding: 80px 20px;
  color: #333;
}
.jumbotron h1 {
  font-size: 36px;
}
.jumbotron p {
  text-align: center;
}
.potrait-canvas {
  overflow: hidden;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border: solid 5px #e9d62a;
}
