//edit the css file from this, remember to install autocompile LESS!
@color-primary: #903749;
@color-secondary: #e84545;
@color-third: #2b2e4a;
@color-fourth: #3f2838;
@color-fifth: #f35656;
@color-font: #c9cacc;
@color-link: #bada55;
.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    background-color: @color-fourth;
    color:@color-font;
    .no-margin();
    font-size: 16px;
    
}

a {
    text-decoration: none;
    color: @color-link;
}

nav {
    .no-padding();
    box-shadow: 0 0 15px rgba(7, 4, 4, 0.3);
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: baseline;
}

.navbar ul {
    list-style-type: none;
    display: inherit;
    .no-padding();
    .no-margin();
}

.navbar li {
    padding: 15px;
    transition: background-color 0.5s;
}

.navbar a {
    height: 100%;
}

.navbar li:hover {
    background-color: @color-secondary;
    
    
}

.bg-primary {
    background-color: @color-primary;
}

/*end of Nav Bar CSS*/


