:root {
  --color-logo-bg: #111;
  --color-nav-bg: #E8E9EB;
  --color-font: #eee;
  --color-font-a: #493e2b;
  --color-font-a-title: orange;
  --font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  background-color: var(--color-nav-bg);
  color: var(--color-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: visible;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav a.nav-title {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 20px;
  position: relative;
  color: var(--color-font-a-title);
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--color-logo-bg);
  height: calc(100% + 20px);
  border-radius: 0 5px 5px 0;
  -webkit-transition: padding ease 0.5s;
  transition: padding ease 0.5s;
  z-index: 3;
}

nav a.nav-title:hover {
  padding: 0 60px 0 30px;
}

nav .nav-title p {
  display: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .nav-title img {
  position: relative;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  -webkit-animation: sine 5s ease;
          animation: sine 5s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

nav ul {
  display: inherit;
  list-style-type: none;
  height: 100%;
  width: 100%;
  background-color: var(--color-nav-bg);
  overflow: hidden;
  margin-left: 20px;
}

nav ul li {
  display: inherit;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  color: var(--color-font-a);
  -webkit-transition: background-color, padding 0.2s ease;
  transition: background-color, padding 0.2s ease;
}

nav ul li a:hover {
  background-color: white;
  padding: 0 40px;
  text-shadow: 0 0 2px rgba(51, 51, 51, 0.2);
}

.jumbotron {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--color-nav-bg);
  padding: 80px 20px;
  color: #333;
}

.jumbotron h1 {
  font-size: 2.2rem;
}

.jumbotron p {
  text-align: center;
}

.potrait-canvas {
  overflow: hidden;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 200px;
  border: solid 5px var(--color-font-a-title);
}

@-webkit-keyframes sine {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}

@keyframes sine {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}
/*# sourceMappingURL=style.css.map */